.sidebar {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  /* border-radius: 16px; */
  overflow: hidden;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .sidebar {
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 560px;
    border-radius: 14px;
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* border-radius: 0; */
  }
  .sidebarstep {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 0.9rem;
  }
}
